@charset "UTF-8";

/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    background-image: linear-gradient(-180deg, #ffffff, #f19b9b9c);
    /* overflow: hidden; */
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    padding-bottom: 20px;
    font-size: 30px;
}

.heading h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    padding-bottom: 30px;
    font-size: 30px;
}

#label-container {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    /* background-color: rgba(0, 157, 255, 0.377); */
    width: 500px;
    position: relative;
    margin-top: 520px;
}

.button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    width: 200px;
    height: 50px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 157, 255);
    margin-bottom: 20px;
}

.button:hover {
    background-color: rgb(126, 126, 126);
    transition: 0.8s;
}

#webcam-container canvas {
    padding-bottom: 20px;
    padding-right: 50px;
    position: absolute;
    /* width: 500px;
    height: 500px; */
    /* overflow: hidden; */
}

.mainContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.basicInfo {
    background-color: rgba(0, 157, 255, 0.425);
    width: 1200px;
    height: 700px;
    margin-left: 85px;
}

.basicInfo h1 {
    padding: 20px;
    font-weight: 700;
}

.basicInfo h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-weight: 700;
}

.basicInfo p {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.basicInfo li {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.studiesInfo {
    background-color: rgba(0, 157, 255, 0.425);
    width: 1650px;
    height: 700px;
    margin-left: 85px;
}

.studiesInfo h1 {
    padding: 20px;
    font-weight: 700;
}

.studiesInfo p {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.blackBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.705);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.blackBar a {
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: rgb(155, 208, 241);
    display: block;
    transition: 0.3s;
    width: 250px;
}

.blackBar a:hover {
    color: #000000;
    background-color: rgb(255, 255, 255);
}

.closeButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 13px 21px;
    border: none;
}

.openButton {
    z-index: 150;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openButton:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}

.closeButton {
    cursor: pointer;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .blackBar {
        padding-top: 15px;
    }
    .blackBar a {
        font-size: 18px;
    }
}